.App {
  width: 300px;
  margin: 100px auto;
  min-height: 380px;
}

.App,
.buttonPanel,
.display {
  display: flex;
}

.App,
.buttonPanel {
  flex-direction: column;
}

.display {
  background-color: #808080;
  align-items: center;
  justify-content: flex-end;
  color: #fff;
  padding-right: 20px;
  font-size: 2.5em;
}

.display,
.row,
.button {
  font-family: inherit;
  height: 100px;
  font-weight: bold;
}

.row,
.button {
  font-size: 1.1em;
}

.normalWidth {
  width: 25%;
}

.button:hover {
  opacity: 0.8;
}

.wide {
  width: 50%;
}

.orange {
  background-color: orange;
}

.pink {
  background-color: #fe9291;
}
